/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #fff5e5; /* Static cream color background */
    text-align: center;
    margin: 0;
    padding: 100px;
}

/* Button container layout */
#btn-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 80px;
}

/* Red and Blue team containers */
#red-container, #blue-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

#red-container {
    background-color: #cccccc;
    border: 2px solid #191919;
}

#blue-container {
    background-color: #b4d3b2;
    border: 2px solid #27592d;
}

/* Button styles */
button {
    font-size: 16px;
    padding: 10px;
    width: 90%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.red {
    background-color: #191919;
    color: white;
}

.blue {
    background-color: #27592d;
    color: white;
}

button:hover {
    opacity: 0.8;
}

.points-plus-1, .points-plus-3, .points-plus-5, .points-plus-10 {
    font-weight: bold;
}

/* Score container */
#score-container {
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#score-container p {
    font-size: 22px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

.red {
    border: 2px solid #191919;
}

.blue {
    border: 2px solid #27592d;
}